services:
  frontend:
    build: .
    ports:
      - '5173:5173'
    environment:
      - VITE_API_URL=http://host.docker.internal:4000/api
      - VITE_MOCK=true
    volumes:
      - ./:/app
      - /app/node_modules
